h1{
    color:orangered;
    font-size: 45px;
    background-color: rgb(31, 132, 214);
    padding: 50px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px; 
    text-align: center;  
}
body{
    color:mediumpurple;
}